doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='keywords', content='')
    meta(name='description', content='')
    <!--[if IE 6]>
    script(type='text/javascript').
      location.replace('http://browsehappy.com/');
    <![endif]-->
    //-link(rel='icon', href='favicon.png', type='image/png')
    //-link(rel='shortcut icon', href='favicon.png', type='image/png')
    //-link(rel='stylesheet', href='css/app.css', type='text/css', media='screen')
    //-title #{title}
  body
    div.all
      div.all__header
        block header
      div.all__body
        block body
      div.all__footer
        block footer
    include ../partials/popups.pug
    include ../partials/scripts.pug
    include ../partials/debug.pug
